<%= form_for @article do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      The following <%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <%end%>
    </ul> 
    </div>
  <%end%>

  <p>
    <%= f.label :title %> <br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %> <br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p> 

  <%= link_to 'All Articles', articles_path %> 
<%end%>
