<p>
  <strong> Title </strong>
  <%= @article.title %>
</p>

<p>
  <strong> Content  </strong>
  <%= @article.body %>
</p>

<h2> Add a comment </h2> 
<%= form_for([@article, @article.comments.build]) do |f| %>
  <p> 
    <%=f.label :commenter%> 
    <%=f.text_field :commenter%> 
  </p> <br>
  
  <p> 
    <%=f.label :body%>  
    <%=f.text_area :body%>  
  </p>

  <p> <%=f.submit%> </p>
<%end%>


<h3>Comments:</h3>
<% @article.comments.each do |comment| %>
  <p> 
    <strong> Commenter: </strong>
    <%=comment.commenter%> <br>
    <strong> Body: </strong>
    <%=comment.body%>  
    <p> 
    <%=link_to 'Delete', [@article, comment], method: :delete, data: {confirm: 'Are you sure'}%>  
    </p>

  </p>
<%end%>


<%= link_to 'All Articles', articles_path %>
